<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <%#= image_tag @feed.image.url if @feed.image && @feed.image.url %>
<!--</p>-->
<%#= link_to 'Edit', edit_feed_path(@feed) %>
<%#= link_to 'Back', feeds_path %>
<%# unless @feed.user_id == current_user.id %>
  <%# if @favorite.present? %>
    <%#= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn tbn-danger' %>
  <%# else %>
    <%#= link_to 'お気に入りする', favorites_path(feed_id: @feed.id), method: :post, class: 'btn tbn-primary' %>
  <%# end %>
<%# end %>