<% provide(:title, 'All users') %>
<h1>All users</h1>
<p><%= link_to "プロフィール編集", edit_user_path(@userid) %></p>

<ul class="users">
  <% @user.each do |user| %>
    <li>
      <%= gravafor user, size: 50 %>
      <%= link_to user.name, user %>
      <%= link_to %>
    </li>
  <% end %>
</ul>
<!--ここさんこうにしてた-->
<!--https://wiblok.com/html/ruby-on-rails%E3%81%A7%E4%BD%9C%E3%82%8B%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E6%8A%95%E7%A8%BF%E5%9E%8Bweb%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E2%91%A0/-->