<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="align-items-center">
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= image_tag user.image.url size: 50 if user.image.present?%>
        <%= link_to user.name, user %>
        <%= link_to %>
        <%= link_to "プロフィール編集", edit_user_path(user.id) if user.id == current_user.id %>
      </li>
    <% end %>
  </ul>
</div>