<% provide(:title, 'All users') %>
<h1>All users</h1>
<p><%= link_to "プロフィール編集", edit_user_path(@userid) %></p>

<ul class="users">
  <% @user.each do |user| %>
    <li>
      <%= gravafor user, size: 50 %>
      <%= link_to user.name, user %>
      <%= link_to %>
    </li>
  <% end %>
</ul>